body{
    background-color: rgb(164, 159, 168);
    font-family: 'Changa One', cursive;
}

h1{
    font-size: 50px;
    text-align: center;
}

#cabecera{
    align-self: center;
    margin-left: 25%;
    width: 50%;
    background-color: rgba(0, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 27px 5px 10px 1px #000;
}

#cabecera img{
    margin-left: 10%;
}

#cabecera p{
    margin-left: 10%;
}

#cabecera h2{
    margin-left: 10%;
}

#navegacion{
    top: 0%;
    left: 0%;
    position: sticky;
    height: 48px;
    background-color: aliceblue;
}
#navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
#navegacion ul li {
    float: left;
  }
#navegacion ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#navegacion ul li a:hover {
    background-color: #111;
  }

#principal{
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#pie{
    align-self: center;
    margin-left: 25%;
    width: 50%;
    background-color: rgba(74, 98, 218, 0.25);
    border-radius: 10px;
    box-shadow: 27px 5px 10px 1px #000;
    padding: 10px;
}

#pie .col_pie{
    margin-left: 25%;
    width: 40%;
    background-color: rgba(163, 57, 167, 0.229);
    text-align: center;
    box-shadow: 27px 5px 10px 1px #0000004d;
}

.active {
    color:black;
}